<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
        <!-- Dialog zum Bearbeiten von Mitarbeitern -->
        <p:dialog id="mitarbeiterEditDialog" widgetVar="mitarbeiterEditDialog" header="Mitarbeiter bearbeiten"
                  position="center" modal="true" closable="false" closeOnEscape="false" dynamic="true"
                  maximizable="false" minimizable="false" resizable="false">
            <h:form id="mitarbeiterEditForm">
                <h:panelGrid columns="2" styleClass="fullwidth-input">
                    <p:outputLabel for="nachname" value="Nachname"/>
                    <p:inputText id="nachname" label="Nachname"
                                 value="#{mitarbeiterBean.currentMitarbeiter.nachname}"/>

                    <p:outputLabel for="vorname" value="Vorname"/>
                    <p:inputText id="vorname" label="Vorname"
                                 value="#{mitarbeiterBean.currentMitarbeiter.vorname}"/>

                    <p:outputLabel for="geburtsdatum" value="Geburtsdatum"/>
                    <p:calendar id="geburtsdatum" label="Geburtsdatum"
                                value="#{mitarbeiterBean.currentMitarbeiter.geburtsdatum}"
                                pattern="#{userBean.datePattern}" navigator="true"/>

                    <p:outputLabel for="geschlecht" value="Geschlecht"/>
                    <p:selectOneMenu id="geschlecht" label="Geschlecht"
                                     value="#{mitarbeiterBean.currentMitarbeiter.geschlecht}">
                        <f:selectItem itemValue="M" itemLabel="M"/>
                        <f:selectItem itemValue="W" itemLabel="W"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="abteilung" value="Abteilung"/>
                    <p:selectOneMenu id="abteilung" label="Abteilung"
                                     value="#{mitarbeiterBean.currentMitarbeiter.abteilung}"
                                     converter="#{abteilungConverter}">
                        <f:selectItem value="#{null}" noSelectionOption="true"/>
                        <f:selectItems value="#{lookupValuesBean.abteilungen}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="eintrittsdatum" value="Eintrittsdatum"/>
                    <p:calendar id="eintrittsdatum" label="Eintrittsdatum"
                                value="#{mitarbeiterBean.currentMitarbeiter.eintrittsdatum}"
                                pattern="#{userBean.datePattern}" navigator="true"/>

                    <p:outputLabel for="detail" value="Details"/>
                    <p:inputTextarea id="detail" label="Details"
                                 value="#{mitarbeiterBean.currentMitarbeiter.detail}" style="max-height: 150px"/>
                </h:panelGrid>
                <p:commandButton value="Speichern" action="#{mitarbeiterBean.actionSave}" process="@form"
                                 update=":contentForm @form"
                                 oncomplete="if(operationSuccessful(args)) { PF('mitarbeiterEditDialog').hide() }"
                                 icon="fa fa-fw fa-check">
                    <p:resetInput target="mitarbeiterEditForm"/>
                </p:commandButton>
                <p:commandButton value="Abbrechen" action="#{mitarbeiterBean.actionCancel}" process="@this"
                                 oncomplete="PF('mitarbeiterEditDialog').hide()"
                                 icon="fa fa-fw fa-close">
                    <p:resetInput target="mitarbeiterEditForm"/>
                </p:commandButton>

            </h:form>
        </p:dialog>

    </ui:composition>


</html>
