<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition
        template="/resources/templates/layout/simpleTemplate.xhtml">
    <ui:define name="title">Mitarbeiter</ui:define>
    <ui:define name="content">
        <p:panel header="Suche">
            <h:panelGrid columns="8" style="width: 100%" styleClass="fullwidth-input mitarbeiter-search">
                <p:outputLabel for="nachname" value="Nachname"/>
                <p:inputText id="nachname" label="Nachname"
                             value="#{mitarbeiterSearchBean.mitarbeiterCriteria.nachname}"/>

                <p:outputLabel for="vorname" value="Vorname"/>
                <p:inputText id="vorname" label="Vorname"
                             value="#{mitarbeiterSearchBean.mitarbeiterCriteria.vorname}"/>

                <p:outputLabel for="geschlecht" value="Geschlecht"/>
                <p:selectOneMenu id="geschlecht" label="Geschlecht"
                                 value="#{mitarbeiterSearchBean.mitarbeiterCriteria.geschlecht}">
                    <f:selectItem itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItem itemValue="M" itemLabel="M"/>
                    <f:selectItem itemValue="W" itemLabel="W"/>
                </p:selectOneMenu>

                <p:outputLabel for="abteilung" value="Abteilung"/>
                <p:inputText id="abteilung" label="Abteilung"
                             value="#{mitarbeiterSearchBean.mitarbeiterCriteria.abteilung}"/>
            </h:panelGrid>

            <p:commandButton id="cmdSearch" value="Suche" action="#{mitarbeiterSearchBean.actionSearch}" process="@form" update="@form"
                             icon="fa fa-fw fa-search"/>
            <p:commandButton id="cmdCancel" value="Zurücksetzen" action="#{mitarbeiterSearchBean.actionCancel}" process="@this" update="@form"
                             icon="fa fa-fw fa-close"/>
        </p:panel>

        <p:dataTable value="#{mitarbeiterSearchBean.mitarbeiterList}" var="row" id="dataTable" rows="20" paginator="true"
                     paginatorPosition="bottom" rendered="#{mitarbeiterSearchBean.mitarbeiterList != null}" style="margin-top: 1em">
            <p:column styleClass="smallCol">
                <p:rowToggler/>
            </p:column>
            <p:column id="nachnameColumn" headerText="Nachname" sortBy="#{row.nachname}">
                <h:outputText value="#{row.nachname}"/>
            </p:column>
            <p:column id="vornameColumn" headerText="Vorname" sortBy="#{row.vorname}">
                <h:outputText value="#{row.vorname}"/>
            </p:column>
            <p:column id="geburtsdatumColumn" headerText="Geburtsdatum" sortBy="#{row.geburtsdatum}"
                      styleClass="right">
                <h:outputText value="#{row.geburtsdatum}">
                    <f:convertDateTime type="date"/>
                </h:outputText>
            </p:column>
            <p:column id="geschlechtColumn" headerText="Geschlecht" sortBy="#{row.geschlecht}" styleClass="center">
                <h:outputText value="#{row.geschlecht}"/>
            </p:column>
            <p:column id="abteilungColumn" headerText="Abteilung" sortBy="#{row.abteilung.kuerzel}"
                      styleClass="center">
                <h:outputText value="#{row.abteilung.kuerzel}" title="#{row.abteilung.bezeichnung}"/>
            </p:column>
            <p:column id="eintrittsdatumColumn" headerText="Eintrittsdatum" sortBy="#{row.eintrittsdatum}"
                      styleClass="right">
                <h:outputText value="#{row.eintrittsdatum}">
                    <f:convertDateTime type="date"/>
                </h:outputText>
            </p:column>

            <p:rowExpansion>
                <h3>Weitere Informationen</h3>
                <h:outputText value="#{row.detail}"/>
            </p:rowExpansion>

        </p:dataTable>

    </ui:define>

</ui:composition>

</html>
