<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition
            template="/resources/templates/layout/simpleTemplate.xhtml">
        <ui:define name="title">Mitarbeiter</ui:define>
        <ui:define name="content">
            <p:dataTable value="#{mitarbeiterBean.mitarbeiterList}" var="row" id="dataTable" rows="20" paginator="true"
                         paginatorPosition="bottom">
                <p:column styleClass="smallCol">
                    <p:rowToggler/>
                </p:column>
                <p:column id="actionColumn" styleClass="smallCol">
                    <p:commandLink id="mitarbeiterEditCmd"
                                   action="#{mitarbeiterBean.actionEdit(row)}"
                                   oncomplete="PF('mitarbeiterEditDialog').show()" update=":mitarbeiterEditForm"
                                   title="Mitarbeiter bearbeiten">
                        <span class="fa fa-fw fa-edit"></span>
                    </p:commandLink>
                    <p:commandLink id="mitarbeiterDeleteCmd"
                                   action="#{mitarbeiterBean.actionDelete(row)}"
                                   update="@form"
                                   title="Mitarbeiter löschen">
                        <span class="fa fa-fw fa-trash"></span>
                    </p:commandLink>
                </p:column>
                <p:column id="nachnameColumn" headerText="Nachname" sortBy="#{row.nachname}">
                    <h:outputText value="#{row.nachname}"/>
                </p:column>
                <p:column id="vornameColumn" headerText="Vorname" sortBy="#{row.vorname}">
                    <h:outputText value="#{row.vorname}"/>
                </p:column>
                <p:column id="geburtsdatumColumn" headerText="Geburtsdatum" sortBy="#{row.geburtsdatum}"
                          styleClass="right">
                    <h:outputText value="#{row.geburtsdatum}">
                        <f:convertDateTime type="date"/>
                    </h:outputText>
                </p:column>
                <p:column id="geschlechtColumn" headerText="Geschlecht" sortBy="#{row.geschlecht}" styleClass="center">
                    <h:outputText value="#{row.geschlecht}"/>
                </p:column>
                <p:column id="abteilungColumn" headerText="Abteilung" sortBy="#{row.abteilung.kuerzel}"
                          styleClass="center">
                    <h:outputText value="#{row.abteilung.kuerzel}" title="#{row.abteilung.bezeichnung}"/>
                </p:column>
                <p:column id="eintrittsdatumColumn" headerText="Eintrittsdatum" sortBy="#{row.eintrittsdatum}"
                          styleClass="right">
                    <h:outputText value="#{row.eintrittsdatum}">
                        <f:convertDateTime type="date"/>
                    </h:outputText>
                </p:column>

                <p:rowExpansion>
                    <h3>Weitere Informationen</h3>
                    <h:outputText value="#{row.detail}" />
                </p:rowExpansion>

            </p:dataTable>
            <br/>
            <p:commandButton value="Neuer Mitarbeiter" action="#{mitarbeiterBean.actionNew}" icon="fa fa-fw fa-plus"
                             oncomplete="PF('mitarbeiterEditDialog').show()" update=":mitarbeiterEditForm"/>
        </ui:define>

        <ui:define name="nonFormContent">
            <ui:include src="_mitarbeiter_edit.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
