<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
        <!-- Dialog zum Bearbeiten von Abteilungn -->
        <p:dialog id="abteilungEditDialog" widgetVar="abteilungEditDialog" header="Abteilung bearbeiten"
                  position="center" modal="true" closable="false" closeOnEscape="false" dynamic="true"
                  maximizable="false" minimizable="false" resizable="false">
            <h:form id="abteilungEditForm">
                <h:panelGrid columns="2">
                    <p:outputLabel for="kuerzel" value="Kürzel"/>
                    <p:inputText id="kuerzel" label="Kürzel"
                                 value="#{abteilungBean.currentAbteilung.kuerzel}"/>

                    <p:outputLabel for="bezeichnung" value="Bezeichnung"/>
                    <p:inputText id="bezeichnung" label="Bezeichnung"
                                 value="#{abteilungBean.currentAbteilung.bezeichnung}"/>

                </h:panelGrid>
                <p:commandButton value="Speichern" action="#{abteilungBean.actionSave}" process="@form"
                                 update=":contentForm @form"
                                 oncomplete="if(operationSuccessful(args)) { PF('abteilungEditDialog').hide() }"
                                 icon="fa fa-fw fa-check">
                    <p:resetInput target="abteilungEditForm"/>
                </p:commandButton>
                <p:commandButton value="Abbrechen" action="#{abteilungBean.actionCancel}" process="@this"
                                 oncomplete="PF('abteilungEditDialog').hide()"
                                 icon="fa fa-fw fa-close">
                    <p:resetInput target="abteilungEditForm"/>
                </p:commandButton>

            </h:form>
        </p:dialog>

    </ui:composition>

</html>
