<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition
            template="/resources/templates/layout/simpleTemplate.xhtml">
        <ui:define name="title">Abteilungen</ui:define>
        <ui:define name="content">
            <p:dataTable value="#{abteilungBean.abteilungList}" var="row" id="dataTable" rows="20" paginator="true"
                         paginatorPosition="bottom">

                <p:column id="actionColumn" styleClass="smallCol">
                    <p:commandLink id="abteilungEditCmd"
                                   action="#{abteilungBean.actionEdit(row)}"
                                   oncomplete="PF('abteilungEditDialog').show()" update=":abteilungEditForm"
                                   title="Abteilung bearbeiten">
                        <span class="fa fa-fw fa-edit"></span>
                    </p:commandLink>
                </p:column>
                <p:column id="kuerzelColumn" headerText="Kürzel" sortBy="#{row.kuerzel}">
                    <h:outputText value="#{row.kuerzel}"/>
                </p:column>
                <p:column id="bezeichnungColumn" headerText="Bezeichnung" sortBy="#{row.bezeichnung}">
                    <h:outputText value="#{row.bezeichnung}"/>
                </p:column>

            </p:dataTable>
            <br/>
            <p:commandButton value="Neue Abteilung" action="#{abteilungBean.actionNew}" icon="fa fa-fw fa-plus"
                             oncomplete="PF('abteilungEditDialog').show()" update=":abteilungEditForm"/>
        </ui:define>

        <ui:define name="nonFormContent">
            <ui:include src="_abteilung_edit.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
